---
import { NAV_LINKS } from "../constants/strings/nav.strings.ts";
import { GLOBAL } from "../constants/strings/global.strings";
import Search from "./Search.astro";
---

<div class="drawer fixed z-50 drawer-end w-full bg-black">
  <input class="drawer-toggle" id="nav-drawer" type="checkbox" />

  <div class="drawer-content">
    <div class="navbar w-full transition-all duration-300" id="navbar-bar">
      <div class="flex w-full items-center justify-between">
        <div class="flex-1">
          <a class="
            btn font-sans! text-xl font-normal tracking-wider btn-ghost
          " href="/">
            {GLOBAL.site.xuehua}
          </a>
        </div>

        <!-- Desktop nav -->
        <div class="
          hidden gap-6
          lg:flex
        ">
          {
            NAV_LINKS.map((item) =>
              item.children ? (
                <div class="dropdown dropdown-end">
                  <div class="
                    link cursor-pointer link-hover
                  " role="button" tabindex="0">
                    {item.label}
                  </div>
                  <ul
                    class="
                      dropdown-content menu z-10 w-40 rounded-box bg-base-200
                      p-2 shadow-sm
                    "                     tabindex="0"
                  >
                    {item.children.map((child) => (
                      <li>
                        <a href={child.href}>{child.label}</a>
                      </li>
                    ))}
                  </ul>
                </div>
              ) : (
                <a class="link link-hover" href={item.href}>
                  {item.label}
                </a>
              )
            )
          }
        </div>
        <!-- Mobile hamburger -->
        <div class="
          flex-none
          lg:hidden
        ">
          <label class="btn btn-square btn-ghost" for="nav-drawer">
            <svg
              class="size-8"               fill="currentColor"               viewBox="0 0 24 24"               xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"                 d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"                 fill-rule="evenodd"></path>
            </svg>
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile drawer -->
  <div class="drawer-side">
    <label class="drawer-overlay" for="nav-drawer"></label>
    <div
      class="
        menu min-h-full w-full items-start bg-base-200 p-8 pt-16 text-2xl
        font-semibold text-base-content
      "
    >
      <div class="flex w-full flex-row items-center justify-between pb-8">
        <span class="flex text-3xl text-neutral">
          {GLOBAL.site.xuehua}
        </span>
        <!-- close drawer button -->
        <label aria-label="Close navigation" class="
          btn btn-square btn-ghost
        " for="nav-drawer">
          <svg
            class="size-10"             fill="currentColor"             viewBox="0 0 24 24"             xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"               d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"               fill-rule="evenodd"></path>
          </svg>
        </label>
      </div>

      <ul class="flex w-full flex-col gap-8">
        <li class="w-full"><Search /></li>
        <!--TODO: I hate the chevron here and the spacing for the dropdown items-->
        {
          NAV_LINKS.map((item) =>
            item.children ? (
              <li>
                <details>
                  <summary>{item.label}</summary>
                  <ul>
                    {item.children.map((child) => (
                      <li>
                        <a href={child.href}>{child.label}</a>
                      </li>
                    ))}
                  </ul>
                </details>
              </li>
            ) : (
              <li>
                <a href={item.href}>{item.label}</a>
              </li>
            )
          )
        }
      </ul>
    </div>
  </div>
</div>

<script>
  const navbar = document.getElementById("navbar-bar");
  function updateNavbar() {
    if (window.scrollY > 0) {
      navbar?.classList.add("bg-base-100", "shadow-sm");
    } else {
      navbar?.classList.remove("bg-base-100", "shadow-sm");
    }
  }
  updateNavbar();
  window.addEventListener("scroll", updateNavbar, { passive: true });

  const drawer = document.getElementById("nav-drawer");
  if (drawer instanceof HTMLInputElement) {
    document.querySelectorAll("[data-close-drawer]").forEach((el) => {
      el.addEventListener("click", () => {
        drawer.checked = false;
      });
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") drawer.checked = false;
    });
  }
</script>
